USE [master]
GO
/****** Object:  Database [database]    Script Date: 6/10/2022 10:29:53 ******/
CREATE DATABASE [database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [database]
GO
/****** Object:  User [alumno]    Script Date: 6/10/2022 10:29:53 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 6/10/2022 10:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[idReceta] [int] IDENTITY(1,1) NOT NULL,
	[NombreReceta] [text] NOT NULL,
	[upvotes] [int] NOT NULL,
	[downvotes] [int] NOT NULL,
	[visitas] [int] NOT NULL,
	[descripcios] [text] NOT NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[idReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutina]    Script Date: 6/10/2022 10:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutina](
	[idRutina] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Downvotes] [int] NOT NULL,
	[Upvotes] [int] NOT NULL,
	[Visitas] [int] NOT NULL,
 CONSTRAINT [PK_Rutina] PRIMARY KEY CLUSTERED 
(
	[idRutina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/10/2022 10:29:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [text] NOT NULL,
	[contraseña] [text] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Receta] ON 

INSERT [dbo].[Receta] ([idReceta], [NombreReceta], [upvotes], [downvotes], [visitas], [descripcios]) VALUES (1, N'fideos', 100, 50, 155, N'fideos con queso, ricos y faciles de hacer')
SET IDENTITY_INSERT [dbo].[Receta] OFF
GO
SET IDENTITY_INSERT [dbo].[Rutina] ON 

INSERT [dbo].[Rutina] ([idRutina], [idUsuario], [Nombre], [Descripcion], [Downvotes], [Upvotes], [Visitas]) VALUES (1, 1, N'Press de banco', N'press de banca', 20, 40, 100)
SET IDENTITY_INSERT [dbo].[Rutina] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [contraseña]) VALUES (1, N'ian', N'bernard')
INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [contraseña]) VALUES (2, N'lukitas valentin', N'rossi')
INSERT [dbo].[Usuarios] ([idUsuario], [usuario], [contraseña]) VALUES (3, N'Big Fella', N'el mas facha')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
